
    #texto{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .discografia{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 3vh 2vh 3vh 2vh ; 
    } 


