
    #texto{
        text-align: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .discografia{
        @include flex (row, space-around, center, wrap);
        //display: flex;
        //justify-content: space-around;
        //align-items: center;
        //flex-wrap: wrap;
        padding: 3vh 2vh 3vh 2vh ; 
    } 


