.tour{
    &__row{
        @include flex (row, space-between, center, wrap);
        margin-top: 2vh;
        margin-bottom: 5vh;
        font-size: $font-small;
    }
    &__container-fluid{
        padding-top: 2vh;
        color: $color-accent;
    }
    .img-fluid {
        max-width: 80%;
        height: auto;
    }
    .btn-primary{
        --bs-btn-color:black;
        --bs-btn-font-size: 12px;
        --bs-btn-bg: #ffc0cb;
        --bs-btn-border-color: #ffc0cb;
        --bs-btn-hover-color: #ffc0cb;
        --bs-btn-hover-bg: #000000;
        --bs-btn-hover-border-color: #ffc0cb;
        --bs-btn-focus-shadow-rgb: #000000;
        --bs-btn-active-color: #ffc0cb;
        --bs-btn-active-bg: #000000;
        --bs-btn-active-border-color: #ffc0cb;
        --bs-btn-disabled-bg: #ffc0cb;
        --bs-btn-disabled-border-color: #ffc0cb;
    }
}
